.m1{
    display:flex;
    /* justify-content: center; */
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:100px;
}
.box{
    border:solid 5px black;
    padding:10px;
    
    width:300px;
    height:200px;
    background-color: orange;
    border-radius:32px;
    margin:10px;
    
}

.my{
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;

    margin-top:100px;

}

.boxy{
    border:solid 5px black;
    padding:10px;
    margin:10px;
    width:300px;
    height:200px;
    background-color:blueviolet;
    border-radius:32px;
    
    
}
.aadhi{
    background-color: blanchedalmond;
}
